<%= window_personal %>

<%- include('./window_head', {window_head: '',window_type:window_type}) %>  

<%- include('./window_aside_bottom', {window_a_b: ''}) %> 


<section class="window_content">
    
        <div class="profile">
            <img class="profile_bg" src="<%= avatar %>" alt="profile background image" >
            <div><img src="<%= avatar %>" alt="avatar"></div>
            <h2><%= name %></h2>
            <%# if (surname.length > 0) { %>
                <h3><%# surname %></h3>
            <%#  } %> 
           
              
        </div>
    
        <div class="info">
            <ul>
                <li><a href=<%= website %>>Github</a></li>
                <%# if (squad_id) { %>
                    <li>
                        <legend> squad-id</legend>
                        <p><%#= squad_id %></p>
                    </li>                 
                <%# } %>
            </ul>
        </div>
   


</section>